.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Garante que ocupe toda a altura */
  background-color: #14151a;
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.registerBox {
  background-color: #ffffff;
  padding: 3rem 2rem; /* Espaçamento generoso para desktop */
  border-radius: 12px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 100%;
  max-width: 500px;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 2rem 1.5rem;
  }

  h1 {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: #0e674b;
    font-weight: 700;
  }

  p {
    font-size: 1.1rem;
    color: #6b7280;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .inputGroup {
    margin-bottom: 1.2rem;
    text-align: left;
    position: relative;

    label {
      font-size: 1.1rem;
      color: #4b5563;
      font-weight: 500;
    }

    input {
      width: 100%;
      padding: 0.85rem;
      border: 1px solid #d1d5db;
      border-radius: 5px;
      font-size: 1.05rem;
      margin-top: 0.35rem;

      &:focus {
        outline: none;
        border-color: #0e674b;
        box-shadow: 0 0 5px rgba(14, 103, 75, 0.3);
      }

      @media (max-width: 768px) {
        padding: 0.7rem;
      }
    }
  }

  .eyeIcon {
    position: absolute;
    right: 15px;
    top: calc(50% - 12px); /* Centraliza o ícone */
    cursor: pointer;
  }

  .terms {
    font-size: 0.95rem;
    color: #6b7280;
    margin-bottom: 1.5rem;
    text-align: left;

    a {
      color: #0e674b;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .registerButton {
    background-color: #0e674b;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #075a44;
    }
  }

  .loginText {
    font-size: 1rem;
    color: #6b7280;
    margin-top: 2rem;

    a {
      color: #0e674b;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
